<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2>                       Ya podemos quitar la prueba -->
<!-- Vamos a añadir cosas al componente-->
    <h2> Soy [[first_name]] [[last_name]] </h2>
    <h2> y tengo [[age]] años </h2>
    <input type="text" value="{{first_name::input}}" />    <!-- Lo creamos 2 ways, pero para los
              inputs lo tenemos que poner de otra forma, con el ::input-->
   <input type="range" min="18" value={{age::input}} max="70" />  <!-- El max lo pone al final
                porque le dio problemas en chrome poniendolo en el medio -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontproyecto-app'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
