<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Login de usuario</h1>
  </div>
  <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
   Debe hacerse con two ways, para que cualquier cambio se refleje en ambos-->
  <input type ="email" placeholder="Email" value="{{email::input}}"></input>
  <input type ="password" placeholder="Password" value="{{password::input}}"></input>

  <!--   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
   -->
  <button class="btn btn-success" on-click="login"   > Login</button>
  <!--  Ponemos una propiedad de boostrap , oculto al principio donde pone si estás  conectado  -->
  <span hidden$="{{!isLogged}}">Estoy conectado</span>

<!-- Quitamos la parte de auto del iron-ajax porque no queremos que se ejecute
automáticamente, sólo al pulsar botón login  (en el evento on-click del boton Login
CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
además le decimos el como es el mime type del contenido, con content type
    Para decir que es un  put, hay que indicarlo
  Y también es conveniente tratar el error con on-error   -->
   <iron-ajax
    id = "doLogin"
    url = "http://localhost:3000/apitechu/v2/login"
    content-type = "application/json"
    method="PUT"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("El usuario ha hecho cliqui en el botón de login");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
        // y se invoca al identificador, el id de ese componente (doLogin)
        this.$.doLogin.body = JSON.stringify(loginData);
        // Para mandar esta petición, se hace con generateRequest
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      /* Hacemos la funcion manejadora del ajax . Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged = true;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    } // fin de la clase LoginUsuario

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
