<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h1 class="col-md-12"> Visor de Cuentas</h1>


    <h2 class="col-md-4"> Introduzca código de usuario </h2>

    <input type="Number" value="{{user_id::input}}" />    <!-- Lo creamos 2 ways, pero para los
              inputs lo tenemos que poner de otra forma, con el ::input-->

    <button class="btn btn-info" on-click="buscaCuentas"   > Busca Cuentas</button>

    <h2 class="col-md-12"> Soy el usuario [[user_id]] </h2>
    <h2 class="col-md-12"> IBAN: [[IBAN]]  </h2>
    <h2 class="col-md-4"> balance: [[balance]]  </h2>

  </div>

<!--
    <input type="text" value="{{first_name::input}}" />
   <input type="range" min="18" value={{age::input}} max="70" />
-->
   <iron-ajax
    id = "doBusca"
    url = "http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          },
          IBAN: {
            type: String
          },
          balance: {
            type: Number
          }
        };
      }

      buscaCuentas(){
        console.log("El usuario ha hecho cliqui en el botón de Busca Cuentas");

        // Para mandar esta petición, se hace con generateRequest
        this.$.doBusca.generateRequest();
        console.log("Petición enviada");
      }


      /* Hacemos la funcion manejadora del ajax */
      manageAJAXResponse(data){
        // Vamos a intentar conseguir los datos que queremos para ponerlos en la página
        console.log("Recibidos los datos del usuario:" );
        console.log(data.detail.response[0].user_id);
        console.log(data.detail.response[0].IBAN);
        console.log(data.detail.response[0].balance);

        // Vamos a enlazar los datos obtenidos dentro de las propiedades del componente polymer
        this.user_id = data.detail.response[0].user_id;
        this.IBAN = data.detail.response[0].IBAN;
        this.balance = data.detail.response[0].balance;

      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }

    }   // Fin de la clase VisorCuentas

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
